# directories
.gradle/
.idea/
.vs/
[Aa]ssets/Framework/
[Aa]ssets/Framework.meta
[Aa]ssets/Plugins/Editor/
[Aa]ssets/Plugins/Editor.meta
[Ll]ibrary/
[Ll]ogs
[Oo]bj/
[Oo]utput/
[Pp]ackages/
[Tt]emp/

# files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.apk
*.unitypackage
*.log

buildlog.txt
ProjectSettings/ProjectVersion.txt
Assets/Framework/Settings.asset
Assets/Framework/Settings.asset.meta
Assets/XLua
Assets/XLua.meta
